USE [master]
GO
/****** Object:  Database [furniture]    Script Date: 04.07.2024 21:34:20 ******/
CREATE DATABASE [furniture]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'furniture', FILENAME = N'C:\Users\lekhin\furniture.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'furniture_log', FILENAME = N'C:\Users\lekhin\furniture_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [furniture].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [furniture]
GO
/****** Object:  Schema [log]    Script Date: 04.07.2024 21:34:20 ******/
CREATE SCHEMA [log]
GO
/****** Object:  Schema [order]    Script Date: 04.07.2024 21:34:20 ******/
CREATE SCHEMA [order]
GO
/****** Object:  Schema [staff]    Script Date: 04.07.2024 21:34:20 ******/
CREATE SCHEMA [staff]
GO
/****** Object:  Schema [types]    Script Date: 04.07.2024 21:34:20 ******/
CREATE SCHEMA [types]
GO
/****** Object:  Table [staff].[departments]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staff].[departments](
	[id] [uniqueidentifier] NOT NULL,
	[depName] [nvarchar](100) NOT NULL,
	[divName] [nvarchar](100) NULL,
 CONSTRAINT [PK_departments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [staff].[persons]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [staff].[persons](
	[id] [uniqueidentifier] NOT NULL,
	[namePerson] [nvarchar](100) NOT NULL,
	[surnamePerson] [nvarchar](100) NOT NULL,
	[department] [uniqueidentifier] NOT NULL,
	[position] [nvarchar](100) NULL,
 CONSTRAINT [PK_persons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [types].[resolutions]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [types].[resolutions](
	[id] [tinyint] NOT NULL,
	[resolutionName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_resolutions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [types].[solutions]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [types].[solutions](
	[id] [tinyint] NOT NULL,
	[solutionsName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_solutions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [types].[statuses]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [types].[statuses](
	[id] [tinyint] NOT NULL,
	[statusName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_statuses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [order].[orders]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [order].[orders](
	[id] [int] NOT NULL,
	[applicantId] [uniqueidentifier] NOT NULL,
	[applicationReason] [nvarchar](100) NOT NULL,
	[coordinatingManagerId] [uniqueidentifier] NOT NULL,
	[resolution] [tinyint] NOT NULL,
	[resolutionPeriod] [tinyint] NOT NULL,
	[resolutionSolution] [tinyint] NOT NULL,
	[eventDate] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[ordersView]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[ordersView] WITH SCHEMABINDING
AS
SELECT ap.namePerson as applicantName, ap.surnamePerson as applicantSurname, dap.depName as department, o.applicationReason, cm.namePerson as coordinatingManagerName, cm.surnamePerson as coordinatingManagerSurname, dcm.depName as coordinatingManagerDepartment, dcm.divName as coordinatingManagerDivision, cm.position as coordinatingManager, res.resolutionName as resolution, sol.solutionsName as solution, o.eventDate, s.statusName as status
FROM [order].[orders] o
INNER JOIN [staff].[persons] ap ON ap.id = o.applicantId
INNER JOIN [staff].[persons] cm ON cm.id = o.coordinatingManagerId
INNER JOIN [staff].[departments] dap ON dap.id = ap.department
INNER JOIN [staff].[departments] dcm ON dcm.id = cm.department
INNER JOIN [types].resolutions res ON res.id = o.resolution
INNER JOIN [types].solutions sol ON sol.id = o.resolution
INNER JOIN [types].statuses s ON s.id = o.status
GO
/****** Object:  Table [log].[ordersLog]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [log].[ordersLog](
	[id] [uniqueidentifier] NOT NULL,
	[orderId] [int] NOT NULL,
	[actionName] [nchar](10) NOT NULL,
	[user] [nchar](100) NOT NULL,
	[eventDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ordersLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [log].[ordersLog] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [log].[ordersLog] ADD  DEFAULT (user_name()) FOR [user]
GO
ALTER TABLE [log].[ordersLog] ADD  DEFAULT (getdate()) FOR [eventDate]
GO
ALTER TABLE [order].[orders] ADD  DEFAULT (getdate()) FOR [eventDate]
GO
ALTER TABLE [staff].[departments] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [staff].[persons] ADD  DEFAULT (newid()) FOR [id]
GO
ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKapplicantToPersons] FOREIGN KEY([applicantId])
REFERENCES [staff].[persons] ([id])
GO
ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKapplicantToPersons]
GO
ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKcoordinatingManageToPersons] FOREIGN KEY([coordinatingManagerId])
REFERENCES [staff].[persons] ([id])
GO
ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKcoordinatingManageToPersons]
GO
ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKresolutionToResolutions] FOREIGN KEY([resolution])
REFERENCES [types].[resolutions] ([id])
GO
ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKresolutionToResolutions]
GO
ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKsolutionToSolutions] FOREIGN KEY([resolutionSolution])
REFERENCES [types].[solutions] ([id])
GO
ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKsolutionToSolutions]
GO
ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKstatusToStatuss] FOREIGN KEY([status])
REFERENCES [types].[statuses] ([id])
GO
ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKstatusToStatuss]
GO
/****** Object:  StoredProcedure [dbo].[AddOrModifyFurnitureOrder]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddOrModifyFurnitureOrder]
    @json NVARCHAR(max)
AS

--Вставка подразделения заказчика
IF NOT EXISTS (SELECT dap.id, dap.depName, dap.divName
  FROM [staff].[departments] dap 
  WHERE 1 = 1
  AND dap.depName = JSON_VALUE(@json, '$.applicant.department'))
  BEGIN
	INSERT INTO [staff].[departments]
           ([depName]
           ,[divName])
     VALUES
           (JSON_VALUE(@json, '$.applicant.department')
           , NULL)
  END

--Вставка заказчика
IF NOT EXISTS (SELECT ap.id, ap.namePerson, ap.surnamePerson, dap.depName
  FROM [staff].[persons] ap
  INNER JOIN [staff].[departments] dap ON dap.id = ap.department
  WHERE 1 = 1
  AND ap.id = JSON_VALUE(@json, '$.applicant.id')
  AND ap.namePerson = JSON_VALUE(@json, '$.applicant.name')
  AND ap.surnamePerson = JSON_VALUE(@json, '$.applicant.surname')
  AND dap.depName = JSON_VALUE(@json, '$.applicant.department'))
  BEGIN
	INSERT INTO [staff].[persons]
           ([id]
		   ,[namePerson]
           ,[surnamePerson]
           ,[department]
           ,[position])
     VALUES
           (JSON_VALUE(@json, '$.applicant.id')
		   ,JSON_VALUE(@json, '$.applicant.name')
           ,JSON_VALUE(@json, '$.applicant.surname')
           ,(SELECT TOP 1 id FROM staff.departments WHERE depName = JSON_VALUE(@json, '$.applicant.department'))
           ,NULL)
  END

--Вставка подразделения менеджера
IF NOT EXISTS (SELECT dap.id, dap.depName, dap.divName
  FROM [staff].[departments] dap 
  WHERE 1 = 1
  AND dap.depName = JSON_VALUE(@json, '$.coordinatingManager.department')
  AND dap.divName = JSON_VALUE(@json, '$.coordinatingManager.division'))
  BEGIN
	INSERT INTO [staff].[departments]
           ([depName]
           ,[divName])
     VALUES
           (JSON_VALUE(@json, '$.coordinatingManager.department')
           ,JSON_VALUE(@json, '$.coordinatingManager.division'))
  END

--Вставка менеджера
IF NOT EXISTS (SELECT ap.id, ap.namePerson, ap.surnamePerson, dap.depName
  FROM [staff].[persons] ap
  INNER JOIN [staff].[departments] dap ON dap.id = ap.department
  WHERE 1 = 1
  AND ap.id = JSON_VALUE(@json, '$.coordinatingManager.id')
  AND ap.namePerson = JSON_VALUE(@json, '$.coordinatingManager.name')
  AND ap.surnamePerson = JSON_VALUE(@json, '$.coordinatingManager.surname')
  AND ap.position = JSON_VALUE(@json, '$.coordinatingManager.position')
  AND dap.depName = JSON_VALUE(@json, '$.coordinatingManager.department')
  AND dap.divName = JSON_VALUE(@json, '$.coordinatingManager.division'))
  BEGIN
	INSERT INTO [staff].[persons]
           ([id]
		   ,[namePerson]
           ,[surnamePerson]
           ,[department]
           ,[position])
     VALUES
           (JSON_VALUE(@json, '$.coordinatingManager.id')
		   ,JSON_VALUE(@json, '$.coordinatingManager.name')
           ,JSON_VALUE(@json, '$.coordinatingManager.surname')
           ,(SELECT TOP 1 id FROM staff.departments WHERE depName = JSON_VALUE(@json, '$.coordinatingManager.department'))
           ,JSON_VALUE(@json, '$.coordinatingManager.position'))
  END

--Вставка заказа
IF NOT EXISTS (SELECT o.id
FROM [order].[orders] o
INNER JOIN [types].resolutions res ON res.id = o.resolution
INNER JOIN [types].solutions sol ON sol.id = o.resolution
INNER JOIN [types].statuses s ON s.id = o.status
WHERE o.id = JSON_VALUE(@json, '$.furnitureOrderId'))
  BEGIN
INSERT INTO [order].[orders]
           ([id]
		   ,[applicantId]
           ,[applicationReason]
           ,[coordinatingManagerId]
           ,[resolution]
           ,[resolutionPeriod]
           ,[resolutionSolution]
           ,[status])
     VALUES
           (JSON_VALUE(@json, '$.furnitureOrderId')
		   ,JSON_VALUE(@json, '$.applicant.id')
           ,JSON_VALUE(@json, '$.applicationReason')
           ,JSON_VALUE(@json, '$.coordinatingManager.id')
           ,(SELECT TOP 1 id FROM [types].resolutions WHERE resolutionName = JSON_VALUE(@json, '$.resolution'))
           ,JSON_VALUE(@json, '$.resolutionPeriod')
           ,(SELECT TOP 1 id FROM [types].solutions WHERE solutionsName = JSON_VALUE(@json, '$.resolutionSolution'))
           ,(SELECT TOP 1 id FROM [types].statuses WHERE statusName = JSON_VALUE(@json, '$.status')))
  END
--Обновление заказа
ELSE
  BEGIN
    UPDATE [order].[orders]
	SET [applicantId] = JSON_VALUE(@json, '$.applicant.id')
           ,[applicationReason] = JSON_VALUE(@json, '$.applicationReason')
           ,[coordinatingManagerId] = JSON_VALUE(@json, '$.coordinatingManager.id')
           ,[resolution] = (SELECT TOP 1 id FROM [types].resolutions WHERE resolutionName = JSON_VALUE(@json, '$.resolution'))
           ,[resolutionPeriod] = JSON_VALUE(@json, '$.resolutionPeriod')
           ,[resolutionSolution] = (SELECT TOP 1 id FROM [types].solutions WHERE solutionsName = JSON_VALUE(@json, '$.resolutionSolution'))
           ,[status] = (SELECT TOP 1 id FROM [types].statuses WHERE statusName = JSON_VALUE(@json, '$.status'))
  END
GO
/****** Object:  StoredProcedure [dbo].[DeleteFurnitureOrder]    Script Date: 04.07.2024 21:34:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteFurnitureOrder]
    @id INT
AS

--Удаление заказа
DELETE o
--SELECT o.id
FROM [order].[orders] o
WHERE o.id = @id
GO
USE [master]
GO
