USE [furniture]
GO

/****** Object:  Table [order].[orders]    Script Date: 04.07.2024 21:38:00 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [order].[orders](
	[id] [int] NOT NULL,
	[applicantId] [uniqueidentifier] NOT NULL,
	[applicationReason] [nvarchar](100) NOT NULL,
	[coordinatingManagerId] [uniqueidentifier] NOT NULL,
	[resolution] [tinyint] NOT NULL,
	[resolutionPeriod] [tinyint] NOT NULL,
	[resolutionSolution] [tinyint] NOT NULL,
	[eventDate] [datetime] NOT NULL,
	[status] [tinyint] NOT NULL,
 CONSTRAINT [PK_orders] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [order].[orders] ADD  DEFAULT (getdate()) FOR [eventDate]
GO

ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKapplicantToPersons] FOREIGN KEY([applicantId])
REFERENCES [staff].[persons] ([id])
GO

ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKapplicantToPersons]
GO

ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKcoordinatingManageToPersons] FOREIGN KEY([coordinatingManagerId])
REFERENCES [staff].[persons] ([id])
GO

ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKcoordinatingManageToPersons]
GO

ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKresolutionToResolutions] FOREIGN KEY([resolution])
REFERENCES [types].[resolutions] ([id])
GO

ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKresolutionToResolutions]
GO

ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKsolutionToSolutions] FOREIGN KEY([resolutionSolution])
REFERENCES [types].[solutions] ([id])
GO

ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKsolutionToSolutions]
GO

ALTER TABLE [order].[orders]  WITH CHECK ADD  CONSTRAINT [FKstatusToStatuss] FOREIGN KEY([status])
REFERENCES [types].[statuses] ([id])
GO

ALTER TABLE [order].[orders] CHECK CONSTRAINT [FKstatusToStatuss]
GO


