USE [furniture]
GO

/****** Object:  Table [log].[ordersLog]    Script Date: 04.07.2024 21:37:24 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [log].[ordersLog](
	[id] [uniqueidentifier] NOT NULL,
	[orderId] [int] NOT NULL,
	[actionName] [nchar](10) NOT NULL,
	[user] [nchar](100) NOT NULL,
	[eventDate] [datetime] NOT NULL,
 CONSTRAINT [PK_ordersLog] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [log].[ordersLog] ADD  DEFAULT (newid()) FOR [id]
GO

ALTER TABLE [log].[ordersLog] ADD  DEFAULT (user_name()) FOR [user]
GO

ALTER TABLE [log].[ordersLog] ADD  DEFAULT (getdate()) FOR [eventDate]
GO


