USE [furniture]
GO

/****** Object:  Table [staff].[persons]    Script Date: 04.07.2024 21:38:46 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [staff].[persons](
	[id] [uniqueidentifier] NOT NULL,
	[namePerson] [nvarchar](100) NOT NULL,
	[surnamePerson] [nvarchar](100) NOT NULL,
	[department] [uniqueidentifier] NOT NULL,
	[position] [nvarchar](100) NULL,
 CONSTRAINT [PK_persons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [staff].[persons] ADD  DEFAULT (newid()) FOR [id]
GO


