USE [furniture]
GO

/****** Object:  Table [types].[resolutions]    Script Date: 04.07.2024 21:39:05 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [types].[resolutions](
	[id] [tinyint] NOT NULL,
	[resolutionName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_resolutions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


